<style>
    .footer {
        margin: 0;
        font-size: 12px;
    }
    .footerMother{
        margin-left: 10px;
        margin-bottom: 10px
    }

           /* 미디어쿼리로 로고/햄버거 간격 */
        @media (min-width: 768px) {
            .footerMother{
                margin-left: 20px;
                /* 로고 왼쪽 여백 */
                margin-bottom: 20px
            }

        }
        p{
            color: #042b6e !important;
        }


</style>
<div class="footerMother"style="position: absolute; bottom:0; left: 0;" >
    <img src="/uploads/mainlogo" alt="" style="width: 100px;" />
    <div>
        <p class="footer">스튜디오 오븐 studio.Oven [ Interior&Design ]</p>
        <p class="footer">주소 ㅣ 서울 강남구 논현로132길 11, 302호</p>
        <p class="footer">TEL ㅣ 02- 6448 - 0308</p>
        <p class="footer">FAXㅣ 02 - 6448 - 0309</p>
    </div>
</div>