<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-image: url('https://linkup-mj12270411.s3.ap-northeast-2.amazonaws.com/background.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAVPEYWNUN7GSYHXOL%2F20250221%2Fap-northeast-2%2Fs3%2Faws4_request&X-Amz-Date=20250221T173548Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDmFwLW5vcnRoZWFzdC0yIkYwRAIgMPbNoZD1W%2FgBUG9PaQZ0jNWQg3HhonDCNFOVxjY3vYACIESBu3BuJ0La%2F6HLHuvaEIOGjLOVfcOFWngnSegGs1D2KvUCCNv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQABoMMzc2MTI5ODc1MjI3Igxlu%2BvNlc1n8C8fsQgqyQJFoMtOoSN4jlJCrhtsPGwuIA%2B1KrbWJs2%2FCky3%2BfAV%2FXuU29OifM3lr%2BAIKsWTpu9QQGTnuN%2Bha2QbuiIUDtwSZdI4wp8A0My4Zre03aWace1v%2FenNCtO5Y4BhgurJnw0EXFXOsW9LSxb2qHHtFfGkeCoFvctFLDKssk33ilkq8FaGJb9Cj%2F19vpqw13%2FAK1JH%2B2N1ian1ok0pLY9NPhqOLT0l1dJHZI8wU%2BOLCqoO9Xaub8nAVSmvwiTg9ojE6wGcNnAcdSOUgQqsXjdd4oLMnh9rmqtZDmVnyAVP3E3ewCyTHPKF8HTl75U%2FhkUrkoDRxGa5%2FkczKgrpujXHPy1Dv%2BURMxrYzsa0JCDnGgxGX0Q%2BOK4wpi%2BcjCEQ%2FxfvPNsYsK89P9jGbivK1fSI6kg6uxB42ENa0X6ZJBu9UELqULe0zPn2iUAK8zCU8uK9Bjq0Au8fA4m1V94eN7cT8hr%2FoyfEH8C5v4E21u7FwScpptRRryKMjDoq7uv%2BBvFVSowVLUuSRTsYGgihoHs%2B4sskHiWlkFkQ%2FRM4Dy%2BQ0PkbLY6SArGLALS4Gb9bYbS6gLToQSjP%2BjLdzhF01ephCZfbMG87mXOywXzJLCo1k7d1nFW4UKknLzy9Ck0ase0SN2rPHLXYGd9XhTBZSNuSARF3mbgWwDHNM%2F369z0WwC98ptcDLbo0yNHnL%2B6pGby%2FmV7%2Fmae%2Fxp7PrkClog9x7D5I0bi%2BDyvmUslHD1aJZorNaK63YK6bzFuH5RF1KdfU1caxkhVsyK96DZbzugAfUs7%2BWEEdfQX5I%2BW%2F0%2Fat8ktogOh3PDQtdf%2BmxLVa6i9sOtEChv74hNQ6Cd4aeGTTbolImuN93Rde&X-Amz-Signature=261c9add0197aa9a91633b042efedb266773c778babae0053c7675beb65d5ef6&X-Amz-SignedHeaders=host&response-content-disposition=inline');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            /* 화면 전체 높이 대신, min-height를 주거나, 
         아래 .min-vh-100 사용으로 처리 가능 */
        }
    </style>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <%- include('partials/mainNavbar') %>

  

       <%- include ('partials/footer') %>
</body>

</html>